GOOGLE_API_KEY=your_google_api_key
MISTRALAI_API_KEY=your_mistral_api_key
COHERE_API_KEY=your_cohere_api_key
frontend_url=https://your-frontend-url.vercel.app
backend_url=https://your-backend-url.onrender.com
